@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* scrollbar-width: thin; */
}

body {
  background-color: #f1f1f1 !important;
  font-family: "Inter", sans-serif !important;
}

a {
  text-decoration: none !important;
}

ul,
li {
  list-style-type: none;
  margin: 0 !important;
  padding: 0 !important;
}

.app--native {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
}

.sidebar .nav--list .nav--item a p {
  color: #bababa;
}

.active p {
  font-weight: 700;
  transition: all 0.3s ease-in;
  color: white !important;
}

.table {
  font-size: 13px;
}

a {
  cursor: pointer;
}

/* utility classes */

.relative {
  position: relative;
}

.base--container {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  padding: 1rem;
}

.secondary--title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.hidden {
  display: none;
}

.menu-reposition {
  left: 1rem !important;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-bottom: 1rem;
}

.input label {
  font-size: 0.8rem;
  margin-bottom: 5px;
}

.input input {
  outline: none;
  border: 1px solid #bababa;
  background: transparent;
  padding: 8px;
  border-radius: 0.5rem;
  transition: all 0.3s ease-in-out;
  font-size: 13px;
}

.input label::after {
  content: "*";
  color: crimson;
}

.input input:focus {
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
  border: 1px solid transparent;
}

/* Formio classes */

.formio {
  width: 100%;
  height: 100%;
}
